@model IEnumerable<SnekaersGallery.Models.Sneakers.AllSneakerModel>

@foreach (var sneaker in Model)
{
    <div class="row">
        <div class="col-md-4">
            <a href="../Sneakers/All/@sneaker.Brand ">@sneaker.Brand</a>
        </div>
    </div>
}


